:root{
  /* Colors of the speech box */
  --light-blue: #12A7F5;
  --darker-blue: #1072F5;
  --darkest-blue: #101DDB;

  /* Colors from the Psyche logo*/
  --psyche-light-purple: #5B2552;
  --psyche-dark-purple: #322247;
  --psyche-light-pink: #EF5965;
  --psyche-dark-pink: #A43F5D;
  --psyche-light-orange: #FAA001;
  --psyche-dark-orange: #F57C33;
}

body {
  margin: 0;
  background-color: black;
  /*background-image: url(./assets/psyche-title-screen.png);*/
  /*background-size: cover;*/
  /*background-repeat: no-repeat;*/
  color: white;

  font-family: 'VT323', monospace;
  font-size: 25px;
  font-weight: 100;
  /*All caps, but capital letters are bigger*/
  font-variant: small-caps;
  /* Makes all text same size caps */
  /*text-transform: uppercase;*/

  overflow: hidden;
}

#startup-image{
  display: inline;
  z-index: 99;
  height: 100vh;
  width: 100vw;

  margin: 0%;
  overflow: hidden;
}

#incompatible-browser-modal{
  display: none;
  z-index: 1000;

  background-color: #111;
  color: white;

  border: 1px solid #888;

}

#content{
  position: relative;
  width: 100vw;
  height: 100vh;
}

.h-10{
  height: 10%;
}
.h-20{
  height: 20%;
}
.h-30{
  height: 30%;
}
.h-80{
  height: 80%;
}

#model-view-area{
  position: absolute;
}

/* Represents the top of the screen */
#screen-top {
  
}

/* Represents the image of the speech bubble */
.speech-bubble {
  display: none;
  float: right;
  width: 100%;
  height: 150px;
  color: white;
  position: relative;

  background-image: url("/assets/pixel-text-box.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  opacity: 0.75;

  align-items: center;
  justify-content: center;
}

/* Represents the container for the educational text inside of the speech bubble */
#narrative {
  display: none;
  position: absolute;
  top: 15%;
  bottom: 15%;
  left: 10%;
  right: 15%;
  opacity: 1;

  overflow-y: scroll;

  margin: auto;

  align-items: center;
  justify-content: center;
}
  
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.horizontal {
  display: inline-block;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/* Only used for the intro <p> tag */
.intro {
  padding: 85px 25px 25px 25px;
  color: white;
  text-align: center;
}

/* This type of element should be visible in the main view 
   The main view is when the model and fact buttons are displayed */
.main-view-element{
  visibility: hidden;
}

/* This type of element should be visible in the state change view 
   The state change view is when the state change  */
.state-change-element{
  visibility: hidden;
}

/* This type of element should be visible when the 3D model can be placed */
.place-view-element{
  visibility: hidden;
}

.dashboard-element{
  visibility: hidden;
}

.btn:active{
  border: none;
  outline: none;
}
.btn:not(:active){
  border: none;
}

.speech-box-button {
  visibility: hidden;
}

#dashboard{
  bottom: 0;

  background-color: rgba(26, 26, 26, 0.9);
  background-repeat: no-repeat;
  background-size: 100% 100%;

  box-shadow: 0 -4px 5px #faa00142;

  /*background-image: url(/assets/backgrounds/metalbackground-pixel-5.png);*/

  /* this allows the jQuery slideToggle() to work as desired */
  position: absolute;
}

#dashboard-button{
  color: #f1f1f1;
  border: none;

  background-repeat: no-repeat;
  background-size: 100% 100%;

  background-image: url(/assets/buttons/simple-up.png);
}

#place-button {
  border: none;

  background-repeat: no-repeat;
  height: 50px;
  width: 50px;
  background-size: 100% 100%;

  background-image: url(assets/buttons/blue-arcade-button-cursor3-unpressed.png);
}
#place-button:active{
  background-image: url(assets/buttons/blue-arcade-button-cursor3-pressed.png);
  border: none;
}
/* This gets rid of the ring border that shows up after the button is released */
#place-button:not(:active){
  border: none;
}

#next-button {
  border: none;

  background-repeat: no-repeat;
  height: 50px;
  width: 50px;
  background-size: 100% 100%;

  background-image: url(assets/buttons/red-arcade-button-next-unpressed.png);
}
#next-button:active{
  background-image: url(assets/buttons/red-arcade-button-next-pressed.png);
  border: none;
}
/* This gets rid of the ring border that shows up after the button is released */
#next-button:not(:active){
  border: none;
}

#menu-button {
  font-size: 70px;
  cursor: pointer;

  background-image: url("/assets/icons/List.png");
  background-repeat: no-repeat;
  height: 35px;
  width: 35px;
  background-size: 100% 100%;
}

#state-change {
  border: none;

  background-repeat: no-repeat;
  height: 50px;
  width: 50px;
  background-size: 100% 100%;

  background-image: url(assets/buttons/red-arcade-button-play-unpressed.png);
}
#state-change:active{
  background-image: url(assets/buttons/red-arcade-button-play-pressed.png);
  border: none;
}
/* This gets rid of the ring border that shows up after the button is released */
#state-change:not(:active){
  border: none;
}

/* Contains fact buttons */
#fact-button-area{
  visibility: hidden;
}

/* Class for shared attributes of fact buttons */
.fact-button{
  border: none;

  background-repeat: no-repeat;
  height: 50px;
  width: 50px;
  background-size: 100% 100%;

  background-image: url(assets/buttons/white-arcade-button-unpressed.png);
}
.fact-button:active{
  background-image: url(assets/buttons/white-arcade-button-pressed.png);
  border: none;
}
/* This gets rid of the ring border that shows up after the button is released */
.fact-button:not(:active){
  border: none;
}

/* Represents the asteroid button */
#fact-one {  
  /*background-image: url("/assets/question-mark-64px.png");*/
}

/* Represents the question button */
#fact-two {
  background-image: url(assets/buttons/white-arcade-button-question-unpressed.png);
}
#fact-two:active{
  background-image: url(assets/buttons/white-arcade-button-question-pressed.png);
}

/* Represents the spacecraft button */
#fact-three {
  /*background-image: url("/assets/asteroid-art-32px-noCircle.png");*/
}

#screen-bottom{

}